/* インデックスのCSS */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background-color: rgb(236, 236, 236);
    margin: 0 auto;
    font-size: 20px;
    color: blue;
}
